<nav class="navbar-nav navbar-expand-sm bg-dark">
	<a href="#" class="navbar-brand ml-5">Node JS</a>
	<button type="button" class="navbar-toggler" data-target="#submenu" data-toggle="collapse">
		<span class="text-light h2"><i class="fa fa-bars"></i></span>
	</button>
	<div class="navbar-collapse collapse m-auto text-center" id="submenu">
		<ul class="navbar-nav container">
			<li class="nav-item"><a href="/album" class="nav-link text-light">Album</a></li>
			<li class="nav-item"><a href="/cadastrar" class="nav-link text-light">Nova Foto</a></li>
			<li class="nav-item"><a href="/painel" class="nav-link text-light">Painel</a></li>
		</ul>
		<div class="mr-5">
			<a href="/" class="card-link btn btn-success">Sair</a>
		</div>
	</div>
</nav>