		<nav class="navbar-nav navbar-expand-sm bg-dark">
			<button type="button" class="navbar-toggler" data-target="#submenu" data-toggle="collapse">
				<span class="text-light h2"><i class="fa fa-bars"></i></span>
			</button>
			<div class="navbar-collapse collapse m-auto" id="submenu">
				<ul class="navbar-nav container">
					<li class="nav-item"><a href="#" class="nav-link text-light">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-light">Abaut</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-light">Contact</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-light btn btn-danger mb-2">
						<i class="fa fa-user-o"></i>
						 Loguin</a>
					</li>
				</ul>
			</div>
		</nav>