<!DOCTYPE html>
<html leng='pt-br'>
	<head>
		<meta charset="utf-8">
		<title>Album</title>
		<%- include('src/links')%>
	</head>
	<body>
		<%- include('src/menu')%>
		<div class="container mt-5">
			<div class="card">
				<img src="<%- include('src/foto')%>">
			</div>
		</div>
	</body>
</html>