<!DOCTYPE html>
<html leng='pr-br'>
	<head>
		<meta charset="utf-8">
		<title>Pagina Inicial</title>
		<%-  include('helds/links') %>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark">
			<ul class="navbar-nav m-auto">
				<li class="nav-item"><a href="#" class="nav-link text-light">Home</a></li>
				<li class="nav-item"><a href="#" class="nav-link text-light">Abaut</a></li>
				<li class="nav-item"><a href="#" class="nav-link text-light">Painel</a></li>
				<li class="nav-item"><a href="#" class="nav-link text-light btn btn-danger">
					<i class="fa fa-user-o"></i>
					Loguin</a>
				</li>
			</ul>
		</nav>
		<div class="container mt-3">
			<p class="text-muted">Cadastrar uma Nova Foto</p>
			<form class="form mt-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="input-group-text">
							<i class="fa fa-file-image-o"></i>
						</label>
						<input type="text" name="" class="form-control" 
						placeholder="Nome da Imagem">
					</div>
				</div>
				<div class="input-group mt-3">
					<div class="input-group-prepend">
						<label class="input-group-text">
							<i class="fa fa-list-alt"></i>
						</label>
						<input type="text" name="" class="form-control" placeholder="Descricao">
					</div>
				</div>
				<div class="custom-file mt-3 col-sm-3">
					<span class="custom-file-label"><i class="fa fa-files-o"></i> Files</span>
					<input type="file" name="" class="custom-file-input">
				</div>
				<div class="mt-3">
					<button class="btn btn-dark">
						Efetuar Dowloaded
					</button>
				</div>
			</form>
		</div>
	</body>
</html>