<!DOCTYPE html>
<html leng='pt-br'>
	<head>
		<meta charset="utf-8">
		<title>Painel Admin</title>
		<%- include('src/links')%>
	</head>
	<body>
		<%- include('src/menu')%>
		<div class="container mt-5">
			<table class="table table-striped table-hover">
				<tr>
					<th>Midia</th>
					<th>Nome</th>
					<th>Desricao</th>
					<th></th>
				</tr>
				<tr>
					<td>Midia</td>
					<td>Nome</td>
					<td>Descricao</td>
					<td>
						<button class="btn btn-primary">Editar</button>
						<button class="btn btn-danger">Excluir</button>
					</td>
				</tr>
				<tr>
					<td>Midia</td>
					<td>Nome</td>
					<td>Descricao</td>
					<td>
						<button class="btn btn-primary">Editar</button>
						<button class="btn btn-danger">Excluir</button>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>