*{
	padding: 0;
	margin: 0;
	font-family: 'calibri', sans-serif;
}
.container{
	width: 70%;
	margin: auto;
}
.mt-3{
	margin-top:30px;
}
.nav{
	/*border-bottom: 1px solid #e6e6e6;*/
	position: fixed;
}
.navbar-nav ul{
	display: flex;
	margin-left: 80%;
}
.nav-item{
	list-style-type: none;
	padding-right: 20px;
	padding-bottom: 10px; 
}
.nav-link{
	text-decoration: none;
	border:1px solid transparent;
	border-radius: 5px;
	padding: 4px 10px;
	transition: .3s;
	color:blue; 
}
.nav-link:hover{
	border:1px solid #e6e6e6;
}
.active{
	border:1px solid red;
	border-radius: 5px;
	padding: 4px 10px;
	color:red;
}
.active:hover{
	background-color:red;
	color:#fff; 
	border:none;
}
.card{
	width: 500px;
	position: absolute;
	margin-top: 150px;
	margin-left: 100px;
}
.card-title{
	margin-bottom: 10px;
	font-family: 'roboto', sans-serif;
}
.card-text{
	font-family: 'arial',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}
.btn{
	border:none;
	padding:10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.btn:hover{
	opacity: .5;
}
.btn-primary{
	background-color:blue;
	color:white;
}
.text-white{
	color:#fff;
}